 {%- extends "base.html" %}
 
 {% block content %}
   <div class="container">
     <div class="pollen">
        <h2 class="text-center">Pollen tal</h2>
        <p class="text-center" id="last_updated">Sidst opdateret: {{ last_updated }}</p>
     </div>
     <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Pollen</th>
                    <th>Øst</th>
                    <th>Vest</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>El</td>
                    <td id="el-øst">{{ el_øst }}</td>
                    <td id="el-vest">{{ el_vest }}</td>
                </tr>
                <tr>
                    <td>Hassel</td>
                    <td id="hassel-øst">{{ hassel_øst }}</td>
                    <td id="hassel-vest">{{ hassel_vest }}</td>
                </tr>
                <tr>
                    <td>Elm</td>
                    <td id="elm-øst">{{ elm_øst }}</td>
                    <td id="elm-vest">{{ elm_vest }}</td>
                </tr>
                <tr>
                    <td>Birk</td>
                    <td id="birk-øst">{{ birk_øst }}</td>
                    <td id="birk-vest">{{ birk_vest }}</td>
                </tr>
                <tr>
                    <td>Græs</td>
                    <td id="græs-øst">{{ græs_øst }}</td>
                    <td id="græs-vest">{{ græs_vest }}</td>
                </tr>
                <tr>
                    <td>Bynke</td>
                    <td id="bynke-øst">{{ bynke_øst }}</td>
                    <td id="bynke-vest">{{ bynke_vest }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <p class="text-center">Data hentes fra <a href="https://twitter.com/astmaallergidk">@AstmaAllergiDK</a></p>
        <p class="text-center"><a class="github-button" href="https://github.com/axlroden/pollen" data-size="large" aria-label="pollen on GitHub">Source</a><script async defer src="https://buttons.github.io/buttons.js"></script></p>
    </div>
 {%- endblock %}
