 {%- extends "base.html" %}

 {% block content %}
   <div class="container">
     <div class="pollen">
        <h1 class="text-center">Pollen east.</h1>
     </div>

     {%+ if (el_øst != "0") %}
     <div>
     Alder {{ el_øst }}.
    </div>
     {% endif %}

     {%+ if (hassel_øst != "0") %}
     <div>
     Hazel {{ hassel_øst }}.
    </div>
     {% endif %}
     {%+ if (elm_øst != "0") %}
     <div>
     Elm {{ elm_øst }}.
     </div>
     {% endif %}
     {%+ if (birk_øst != "0") %}
     Birch {{ birk_øst }}.
    </div>
    {% endif %}
    {%+ if (græs_øst != "0") %}
    <div>
    Grass {{ græs_øst }}.
    </div>
    {% endif %}
    {%+ if (bynke_øst != "0") %}
    Pine {{ bynke_øst }}.
    </div>
    {% endif %}
    <div class="container">
    <p class="text-center" id="last_updated">From {{ last_updated }}.</p>

    </div>
 {%- endblock %}
