 {%- extends "base.html" %}

 {% block content %}
   <div class="container">
     <div class="pollen">
        <h1 class="text-center">Pollen tal øst.</h1>
     </div>
     <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>El</td>
                    <td id="el-øst">{{ el_øst }}</td>
                </tr>
                <tr>
                    <td>Hassel</td>
                    <td id="hassel-øst">{{ hassel_øst }}</td>
                </tr>
                <tr>
                    <td>Elm</td>
                    <td id="elm-øst">{{ elm_øst }}</td>
                </tr>
                <tr>
                    <td>Birk</td>
                    <td id="birk-øst">{{ birk_øst }}</td>
                </tr>
                <tr>
                    <td>Græs</td>
                    <td id="græs-øst">{{ græs_øst }}</td>
                </tr>
                <tr>
                    <td>Bynke</td>
                    <td id="bynke-øst">{{ bynke_øst }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
    <p class="text-center" id="last_updated">Fra den {{ last_updated }}.</p>

    </div>
 {%- endblock %}
