{%- extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="pollen">
       <h1 class="text-center">Pollen west.</h1>
    </div>

    {%+ if (el_vest != "0") %}
    <div>
    Alder {{ el_vest }}.
   </div>
    {% endif %}

    {%+ if (hassel_vest != "0") %}
    <div>
    Hazel {{ hassel_vest }}.
   </div>
    {% endif %}
    {%+ if (elm_vest != "0") %}
    <div>
    Elm {{ elm_vest }}.
    </div>
    {% endif %}
    {%+ if (birk_vest != "0") %}
    Birch {{ birk_vest }}.
   </div>
   {% endif %}
   {%+ if (græs_vest != "0") %}
   <div>
   Grass {{ græs_vest }}.
   </div>
   {% endif %}
   {%+ if (bynke_vest != "0") %}
   Pine {{ bynke_vest }}.
   </div>
   {% endif %}
   <div class="container">
   <p class="text-center" id="last_updated">From {{ last_updated }}.</p>

   </div>
{%- endblock %}
